<div class="row">
  <div class="col-md-6 col-offset-3">
    <%= form_for @posting, html: { multipart: true } do |f| %>
      <%= render 'errors' %>

      <%= f.label :subject %>
      <%= f.text_field :subject, class: "form-control" %>

      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>

      <%#= f.label :picture %>
      <%#= f.file_field :picture %>

      <%= f.label :remote_picture_url %>
      <%= f.text_field :remote_picture_url, class: "form-control" %>

      <%= f.submit button_text, class: "btn" %>

    <% end %>
  </div>
</div>
