
<div class="well">
  <h3><%= posting.subject %></h3>
  <p><%= posting.content %></p>
  
  <div>
    <small><%= link_to 'Edit', edit_posting_path(posting) %></small>
    <small><%= link_to 'Delete', posting_path(posting), method: :delete %></small>
  </div>
  <div>
    <small><%= posting.created_at %></small>
  </div>
</div>
