<h1>Albums#index</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<div>
  <%= form_with url: root_path, method: :get, class: 'search-form' do |f| %>
    <%= f.text_field :critic_rating, placeholder: 'Above certain rating.', value: params[:critic_rating] %>
    <%= f.submit 'Submit.' %>
  <% end %>
  <div class="search-results">
    <% @albums.each do |album| %>
      <div><%= album.album_artist %></div>
      <div><%= album.album_title %></div>
      <div>
        <span>Critic Rating: <%= album.critic_rating %></span>
        <span>User Rating: <%= album.user_rating %></span>
        <span>(<%= album.user_rating_count %>)</span>
      </div>
    <% end %>
  </div>
</div>
