
<div>
  <% if user_signed_in? %>
    <div> Hello, <%= current_user.first_name %>! </div>
    <%= link_to 'Make a new post!', new_posting_path %>
    <%= render partial: "postings/posting", collection: @postings, as: :posting %>
  <% else %>
    <div> Welcome.  Sign in or register. </div>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Log in', new_user_session_path %>
  <% end %>
</div>
